* {
    padding: 0;
    font-family: sans-serif;
    position: relative;
    background-color: #f2e6d9;
}
.container-l {
    position: relative;
    top: 20%;
    float: left;
    margin-left: 150px;
}
.container-l .logo {
    position: relative;
    height: 300px;
    width: 300px;
 }
.container-l h1 {
   margin-bottom: 5px;
   font-size: 50px;
   font-weight: bold;
   color: black;
}
.container-l p {
    font-size: 20px;
}
.container-r {
    background-color: #f7f7f7;
    margin-right: 150px;
    margin-top: 150px;
    float: right;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    width: 40%;
    height: 500x;
    padding: 10px   
     

}
.container-r .container-item1 input {
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 85%;
}
.container-r .container-item2 input {
    margin: 10px;
    border: 2px solid black;
    border-radius: 7px;
    padding: 10px;
    width: 90%;
    background-color: #865306;
    color: white;
    font-weight: bolder;
}
.container-r .container-item3 p {
   
    margin: 10px;
    font-size: 12px;
    text-align: center;
    color: black;
}
.container-r .container-item3 p a {
    text-decoration: none;
    color: black;
}
.container-r .container-item4 input {
    margin: 10px;
    margin-left: 25%;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    width: 50%;
    background-color: #865306;
    color: white;
    align-items: center;
    font-weight: bolder;
}

