*{
    margin: 0;
    padding: 0;
}
.main{
    display: grid;
    place-items: center;
    height: 100vh;
    border: 3px solid black;
    border-radius: 10px;
    background-color: bisque;
}
.child{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr, 1fr 1fr, 1fr, 1fr, 1fr;
   border: 3px solid rgb(69, 69, 69);
   border-radius: 10px;
}

input{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    background-color: beige;
}
button{
    padding: 15px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: burlywood;
}
.equal{
    width: 150px;
}